<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxEoAVHgJXp-VFAsAPnQbh3khztfaQX_g</string>
	<key>GCM_SENDER_ID</key>
	<string>882027093105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aldo.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-7948d</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-7948d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882027093105:ios:9ee813c46c02a72da9cfd0</string>
</dict>
</plist>