<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewsApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
				<key>dateExpires</key>
				<string>16/02/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>10.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IDZSwiftCommonCrypto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>0.16.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D57C62A33F98B8389A3398900D120F96B4D1A99</string>
						<key>dateExpires</key>
						<string>16/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S2L48UD9HD</string>
						<key>name</key>
						<string>Alessandro Vieri</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S2L48UD9HD.aldo.NewsApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S2L48UD9HD</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NewsApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>12a7d3ed-7f66-4280-9c66-07305141f0a0</string>
				<key>dateExpires</key>
				<string>16/02/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: aldo.NewsApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S2L48UD9HD</string>
				<key>name</key>
				<string>Alessandro Vieri</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
